.DS_Store
/.build
/.build-linux-*
/Packages
/*.xcodeproj
/*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
.swiftpm/config/registries.json
.swiftpm/config/mirrors.json
.swiftpm/configuration/Package.resolved
.swiftpm/configuration/registries.json
.swiftpm/configuration/mirrors.json
.swiftpm/xcode/
.netrc
.vscode/settings.json
